@font-face
{ 
    font-family: pictonic;
    src: url("../fonts/pictonic.eot");
    src: url("../fonts/pictonic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/pictonic.ttf") format("truetype"),
        url("../fonts/pictonic.woff") format("woff"),
        url("../fonts/pictonic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
 
.icon
{
	font-family: "pictonic";
	font-weight: normal; font-style: normal;
}
 
 
[class^="icon-"], [class*="icon-"]
{
	font-family: "pictonic";
	font-weight: normal; font-style: normal;
}
 
  
.icon-rus-vk-02:before { content:""; } 
.icon-facebook:before { content:""; } 
.icon-pinterest:before { content:""; } 
.icon-mail:before { content:""; }